.WallPiece {
  background: var(--wall);
  position: absolute;
  overflow: hidden;
  border-radius: 0px;
  &:after {
    content: '';
    position: absolute;
    background: rgba(0,0,0,.1);
    height: 100%;
    width: 100%;
    transform: translate(30px, 30px);
  }
}

.Piece {
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.Hero, .Opposite {
  background: var(--hero);
  transition: all .2s ease;
  z-index: 1;
  &.has-item:after {
    content: '🔑';
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(var(--height)/2);
    height: calc(var(--height)/2);
    font-size: var(--height);
    line-height: var(--height);
  }
}

.Opposite {
  background: var(--opposite);
}

.WallHolePiece {
  background: rgb(31, 26, 46);
  position: absolute;
}

.Hazard {
  background: rgb(179, 5, 5);
}

.Spark {
  background: rgba(black,.5);
}