.SettingsView {
  max-width: 75vw;
  min-width: 300px;
  margin: 0 auto;
  padding: 2rem 0;
  &__top-bar {
    height: calc(var(--height) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__label {
    color: white;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__wrapper {
    background: white;
    border-radius: .25rem;
    padding: 1rem;
  }
  &__input {
    span {
      margin-right: 1rem;
      font-weight: bold;
    }
  }
}
